@import "../../assets/styles/app.scss";

.mainLayout {
  position: relative;
  background-image: url(../../public/back.jpg);
  background-repeat: repeat;
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: 40px;

  @include desktop {
    padding-top: 60px;
  }


  .main {
    box-sizing: border-box;
    padding: 16px;

    @include desktop() {
      padding: 24px;
    }
  }
}

